body {
    background-color: #efecfd;
}

.navbar-nav {
    margin-left: 65%;
}

.navbar-brand {
    font-family: 'Roboto';
    font-weight: bold;
}

h1 {
    font-family: 'Roboto';
    text-align: center;
    color: #15658d;
    font-weight: 900;
    margin: 3% 0;
}

h2 {
    font-family: 'Roboto Serif';
    font-size: 20px;
    color:#15658d;
    margin-top: 4%;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #15658d;
    width: 100%;
    text-align: justify;
}

h2 {
    margin: 0;
}

h5 {
    color: #15658d;
}

.myskills {
    padding: 0 10%;
}

.skills {
    margin-bottom: 2%;
}

.skill-s {
    margin: 2% 0 2% 0;
}

.skill-img {
    width: 80px;
    height: 80px;
    margin: 0 5% 5% 0;
    padding: 8px;
    background-color: #CED6E0;
    border-radius: 50%;
}

.exp-m {
    margin-bottom: 22%;
}
