
body {
    background-color: #efecfd;
    text-align: center;
}

.navbar-nav {
    margin-left: 65%;
}

.navbar-brand {
    font-family: 'Roboto';
    font-weight: bold;
}

h1 {
    font-family: 'Roboto';
    text-align: center;
    padding-top: 2%;
    color: #3a3e7e;
    
}

h5 {
    color: #3a3e7e;
    margin: 0 auto 2%;
    width: 80%;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #15658D;
    margin: 0;
}

.testimonial-img {
    margin: 1%;
    width: 10%;
    border-radius: 50%;
}

.carousel-bg {
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 4%;
}

.carousel-mg {
    margin: 90%;
}

.card-text {
    font-size: 5px !important;
}